body {
    /*background-color: gold;*/
    font-family: sans-serif;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

p {
    color: blueviolet;
}

#unic-paragraph {
    color: hotpink;
    font-size: 22px;
}

.black-words {
    color: black;
    font-weight: bold;
}

.special-link{
    color: rgb(151, 9, 80);
}

a{
    color: aqua;
}

a {
    color: rgb(44, 35, 94);
    text-decoration: none;
    font-weight: bold;
}

/*main {
    color: gray;
}*/

